form {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
