form {
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

label {
    display: flex;
    align-items: center;
    padding: 5px;
}
