form {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: rgb(236, 167, 155);
    font-weight: 700;
}

div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

section {
    background-color: rgb(236, 186, 128);
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 25%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

label {
    display: flex;
    align-items: center;
    padding: 5px;
}

#name {
    margin-left: .25rem;
}
