a {
    cursor: pointer;
    font-size: 20px;
    color: rgb(13, 13, 146);
    position: absolute;
    font-weight: 700;
}

header {
    font-size: 30px;
    font-weight: 700;
    box-shadow: none;
    border-bottom: coral 1px dotted;
    width: 100vw;
    background-color: white;
    
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: whitesmoke;
}



 section {
    background-image: url('../assets/map.png');
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    /* margin: auto; */
 }

 footer {
     display: flex;
     justify-content: center;
     background-color: whitesmoke;
 }

